/* Global Styles */
/* Consistent site colour */
html {
    background-color: #DADED4;
  }
  
/* Consistent site font */
h1{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}
h2{
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
}
h5{
    font-size: 1.25rem;
    font-family: 'Dancing Script', cursive;
}
p{
    font-family: 'Montserrat', sans-serif;
}
.blank{
    background-color: #F9FAFB;
    height: 20px;
  }

/* Style the navigation */
.nav-colour{
    background-color: #F9FAFB;
}
.navbar-brand{
  display: block;
  margin: auto;
}
.navbar-logo {
    width: 10%;
}
.nav-link{
  color: #707070c7;
  font-family: 'Montserrat', sans-serif;
}
.nav-link:hover {
  font-weight: bold;
}
.nav-link:active {
  font-weight: bold;
}
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #707070;
}

/* Style the banner */
.banner{
  background-color: #DADED4;
}
.banner-img{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 130px;
}
.banner-text{
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: center;
    font-family: 'dancing script';
    font-size: 1.25rem;
  }

/* Style the index work section */
.index-work{
    background-color: #DADED4;
    padding-bottom: 150px;
}
.index-work h2 {
    position: absolute;
    top: 10%;
    color: #DADED4;
}

.index-work button {
    position: absolute;
    top: 50%;
    opacity: 80%;
}
.banner-work{
    width: 100%;
    display: block;
    margin: auto;
    background-color: #DADED4;
}

/* Style the footer */
  .card-footer{
    border: none;
    height: 80px;
    padding: 0;
  }
  .card-body {
    padding: 20px;
    font-size: 14px;
}
  .card1{
    background-color: #494E48;
    color: #F9FAFB;
  }
  .card3{
    text-align: end;
  }
  .social-icons{
    text-align: center;
  }
  .icons{
    color: #494E48;
    font-size: 22px;
    padding: 10px;
  }

/* Style the about section */
.about-section{
    background-color: #DADED4;
}

.about-section h2{
    text-align: center;
}
.about-section p{
    line-height: 1.2rem;
}
.about-header{
    text-align: center;
    padding-top: 100px;
}
.about-img {
    height: 200px;
    border-radius: 90px;
    display: block;
    margin: auto;
}
#about-card{
    background-color: #DADED4;
    border: none;
    padding-bottom: 80px;
}

#about-card p{
    padding-left: 40px;
    padding-top: 40px;
}

/* Style the work section */
#work-card{
    background-color: #DADED4;
    padding: 40px;
}
.work-header {
    padding-left: 20px;
    padding-bottom: 80px;
}
#work-carousel{
    padding-top:120px;
    padding-bottom:120px;
    width: 400px;
    display: block;
    margin: auto;
}

  /* Style the contact section */
  .contact-section{
    background-color: #DADED4;
  }
  .contact-text {
    padding-left: 120px;
    padding-top: 100px;
  }
  .contact {
    width: 80%;
    padding-left:120px;
    padding-top: 100px;
    padding-bottom: 120px;
  }

.form-label{
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}
.form-control{
  height: 80%;
  margin-bottom: 20px;
  border-radius: 0;
  background-color:#f9fafbc2;
  border-color: #494e48b7;
}
.contact-img{
    background-color: #DADED4;
    width: 100px;
    display: block;
    margin: auto;
}
.btn-custom {
    border-radius: 0;
    background-color:#494E48;
    color: #DADED4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.btn:hover{
    background-color:#DADED4;
    color: #494E48;
}

.link {
    text-decoration: none;
    color:#DADED4;
}
.link:hover {
    text-decoration: none;
    color:#494E48
}
/****************************
        Desktop Style
*****************************/
@media screen and (min-width: 760px) {
    /* Style the navigation */
.navbar{
  padding-left: 100px;
}
.navbar-brand{
    margin-right: 60%;
  }
.banner-text{
  top: 58%;
  left: 40%;
}

/* Style the banner */
.index-work button {
    top: 30%;
}
.banner-work{
   width: 60%; 
}
/* Style the footer */
  .card-footer{
    height: 200px;
  }
  .card-body {
  padding: 50px;
  padding-top: 80px;
}
  .card1{
    height: 200px;
  }
/* Style the about section */
#about-card{
    padding-bottom: 60px;
}
#about-card p{
    padding-left: 80px;
}
.about-section h2{
    padding-left: 80px;
}
.about-header{
    padding-top: 100px;
}
/* Style the work section */
#work-card{
    padding: 120px;
}
/* Style the contact section */
  .contact {
    width: 40%;
    padding-left:120px;
    padding-top: 100px;
    padding-bottom: 120px;
  }
}